@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  letter-spacing: .15em;
}

em {
  font-style: normal;
}

th {
  text-align: left;
  vertical-align: top;
}

/*-------------------------
  グローバル
-------------------------*/

.logo {
  filter: drop-shadow(0 .5px 2px #999);
}

.gl-footer {
  height: 120px;
  background-color: #211;
  color: #ccc;
  letter-spacing: .3em;
  text-align: center;
}
