@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  letter-spacing: .15em;
}

a:link {
  color: #422;
  font-weight: bold;
}

a:visited {
  color: #333;
}

a:hover,
a:active {
  color: #933;
}

em {
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-of-type(odd) {
  background-color: #fbfbfb;
}

th,
td {
  border: 1px solid #ccc;
}

th {
  text-align: left;
  vertical-align: top;
}

/*-------------------------
  グローバル
-------------------------*/

.gl-header {
  height: 140px;
  padding-top: 15px;
  background: linear-gradient(
    110deg,
    #000 0%,
    rgba(27, 18, 18, .7) 70%,
    rgba(27, 18, 18, .8) 100%
    ),
    url("../images/wood.jpg") 0 0 / contain repeat-x;
  background-blend-mode: hard-light;
}

.logo {
  width: 200px;
  height: 65px;
  text-indent: -9999px;
  background: url("../images/logo.png") 0 0 / cover no-repeat;
}

.gl-footer {
  height: 120px;
  margin-top: 50px;
  padding-top: 50px;
  background: #211 url("../images/grunge.jpg") 0 top repeat-x;
  color: #ccc;
  letter-spacing: .3em;
  text-align: center;
}

/*-------------------------
  トップ
-------------------------*/

.top-welcome {
  height: 640px;
  background: url("../images/main.jpg") center top / cover no-repeat;
  box-shadow: inset 0 2px 5px #000;
}

.top-time,
.top-rank {
  border-bottom: 1px dotted #ccc;
}

.top-rank a[href$="#other"] {
  letter-spacing: 0;
}

.top-rank a[href$="#other"]::after {
  font-family: FontAwesome;
  content: "\f18e";
}

.top-news dd:first-of-type::after {
  content: 'NEW!';
  background-color: #900;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 3px;
}

.top-side a:hover {
  opacity: .7;
}

.twitter {
  margin-bottom: 20px;
}

/*-------------------------
  メニュー
-------------------------*/

.menu {
  padding: 20px 30px;
  margin-bottom: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
}

.menu h3::first-line {
  font-size: 2.4rem;
}

.menu li {
  border-bottom: 1px dotted #ccc;
}

/*-------------------------
  お問い合わせ
-------------------------*/

.contact td[colspan="2"] {
  text-align: center;
}

.contact td[colspan="2"] input[type="submit"] {
  letter-spacing: 2em;
  text-indent: 2em;
}
