@charset "UTF-8";

/*-------------------------
  初期値
-------------------------*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  font-feature-settings: "palt";
}

a {
  text-decoration: none;
  letter-spacing: .15em;
}

em {
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
}

th {
  text-align: left;
  vertical-align: top;
}

/*-------------------------
  グローバル
-------------------------*/

.gl-header {
  height: 140px;
  background: linear-gradient(
    110deg,
    #000 0%,
    rgba(27, 18, 18, .7) 70%,
    rgba(27, 18, 18, .8) 100%
    ),
    url("../images/wood.jpg") 0 0 / contain repeat-x;
  background-blend-mode: hard-light;
}

.logo {
  width: 200px;
  height: 65px;
  text-indent: -9999px;
  background: url("../images/logo.png") 0 0 / cover no-repeat;
}

.gl-footer {
  height: 120px;
  background: #211 url("../images/grunge.jpg") 0 top repeat-x;
  color: #ccc;
  letter-spacing: .3em;
  text-align: center;
}

/*-------------------------
  トップ
-------------------------*/

.top-welcome {
  height: 640px;
  background: url("../images/main.jpg") center top / cover no-repeat;
  box-shadow: inset 0 2px 5px #000;
}

.top-time,
.top-rank {
  border-bottom: 1px dotted #ccc;
}

/*-------------------------
  メニュー
-------------------------*/

.menu {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px #ccc;
}

.menu li {
  border-bottom: 1px dotted #ccc;
}
